@use "@/assets/style/variables" as v;

:root {
  font-size: v.$font-root-em;
  --c-auaust-9: #{v.$light-c-auaust-9};
  --c-auaust-8: #{v.$light-c-auaust-8};
  --c-auaust-7: #{v.$light-c-auaust-7};
  --c-auaust-6: #{v.$light-c-auaust-6};
  --c-auaust-5: #{v.$light-c-auaust-5};
  --c-auaust-4: #{v.$light-c-auaust-4};
  --c-auaust-3: #{v.$light-c-auaust-3};
  --c-auaust-2: #{v.$light-c-auaust-2};
  --c-auaust-1: #{v.$light-c-auaust-1};
  --c-gray-9: #{v.$light-c-gray-9};
  --c-gray-8: #{v.$light-c-gray-8};
  --c-gray-7: #{v.$light-c-gray-7};
  --c-gray-6: #{v.$light-c-gray-6};
  --c-gray-5: #{v.$light-c-gray-5};
  --c-gray-4: #{v.$light-c-gray-4};
  --c-gray-3: #{v.$light-c-gray-3};
  --c-gray-2: #{v.$light-c-gray-2};
  --c-gray-1: #{v.$light-c-gray-1};
}
.theme-dark {
  --c-auaust-9: #{v.$dark-c-auaust-1};
  --c-auaust-8: #{v.$dark-c-auaust-2};
  --c-auaust-7: #{v.$dark-c-auaust-3};
  --c-auaust-6: #{v.$dark-c-auaust-4};
  --c-auaust-5: #{v.$dark-c-auaust-5};
  --c-auaust-4: #{v.$dark-c-auaust-6};
  --c-auaust-3: #{v.$dark-c-auaust-7};
  --c-auaust-2: #{v.$dark-c-auaust-8};
  --c-auaust-1: #{v.$dark-c-auaust-9};
  --c-gray-9: #{v.$dark-c-gray-1};
  --c-gray-8: #{v.$dark-c-gray-2};
  --c-gray-7: #{v.$dark-c-gray-3};
  --c-gray-6: #{v.$dark-c-gray-4};
  --c-gray-5: #{v.$dark-c-gray-5};
  --c-gray-4: #{v.$dark-c-gray-6};
  --c-gray-3: #{v.$dark-c-gray-7};
  --c-gray-2: #{v.$dark-c-gray-8};
  --c-gray-1: #{v.$dark-c-gray-9};
}

* {
  font-family: "Arzier", "Zapfino";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  font-size: 1.5rem;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
  font-variation-settings: "wght" 400;
}

.text-small {
  font-size: 1.3rem;
}
.text-x-small {
  font-size: 1.2rem;
}
.text-normal {
  font-size: 1.5rem;
}

.color-auaust-9 {
  color: v.$c-auaust-9;
}
.bgcolor-auaust-9 {
  background-color: v.$c-auaust-9;
}
.color-auaust-8 {
  color: v.$c-auaust-8;
}
.bgcolor-auaust-8 {
  background-color: v.$c-auaust-8;
}
.color-auaust-7 {
  color: v.$c-auaust-7;
}
.bgcolor-auaust-7 {
  background-color: v.$c-auaust-7;
}
.color-auaust-6 {
  color: v.$c-auaust-6;
}
.bgcolor-auaust-6 {
  background-color: v.$c-auaust-6;
}
.color-auaust-5 {
  color: v.$c-auaust-5;
}
.bgcolor-auaust-5 {
  background-color: v.$c-auaust-5;
}
.color-auaust-4 {
  color: v.$c-auaust-4;
}
.bgcolor-auaust-4 {
  background-color: v.$c-auaust-4;
}
.color-auaust-3 {
  color: v.$c-auaust-3;
}
.bgcolor-auaust-3 {
  background-color: v.$c-auaust-3;
}
.color-auaust-2 {
  color: v.$c-auaust-2;
}
.bgcolor-auaust-2 {
  background-color: v.$c-auaust-2;
}
.color-auaust-1 {
  color: v.$c-auaust-1;
}
.bgcolor-auaust-1 {
  background-color: v.$c-auaust-1;
}
