$c-auaust-9: #170049;
$c-auaust-8: hsl(259, 100%, 25%);
$c-auaust-7: hsl(258, 100%, 35%);
$c-auaust-6: hsl(255, 100%, 45%);
$c-auaust-5: hsl(252, 100%, 55%);
$c-auaust-4: hsl(249, 100%, 65%);
$c-auaust-3: hsl(246, 100%, 75%);
$c-auaust-2: hsl(243, 100%, 85%);
$c-auaust-1: hsl(240, 100%, 95%);
